[Unit]
Description=BugsPointer Production
After=network.target

[Service]
Type=simple
User=jerome
WorkingDirectory=/home/jerome/apps/bugspointer/prod
EnvironmentFile=/etc/bugspointer/prod.env
ExecStart=/usr/bin/java -jar /home/jerome/apps/bugspointer/prod/bugspointer.jar
SuccessExitStatus=143
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
