<div class="menu">
    <h2>Report</h2>
    <a th:href="@{/app/private/bugList(state='new', publicKey=${publicKey})}" class="btn-nbr-bug"><span class="bug-type">Nouveau</span><span class="nbr-bug new">1</span></a>
    <a th:href="@{/app/private/bugList(state='pending', publicKey=${publicKey})}" class="btn-nbr-bug"><span class="bug-type">En cours</span><span class="nbr-bug pending">3</span></a>
    <a th:href="@{/app/private/bugList(state='solved', publicKey=${publicKey})}" class="btn-nbr-bug"><span class="bug-type">Résolu</span><span class="nbr-bug solved">12</span></a>
    <a th:href="@{/app/private/bugList(state='ignored', publicKey=${publicKey})}" class="btn-nbr-bug"><span class="bug-type">Ignoré</span><span class="nbr-bug ignored">2</span></a>

    <br>

    <h2>Paramètres</h2>
    <!--<a th:href="@{/app/private/invoices}" class="btn-nbr-bug"><span class="bug-type">Factures</span></a>-->
    <a th:href="@{/app/private/notifications}" class="btn-nbr-bug"><span class="bug-type">Notifications</span></a>
    <a th:href="@{/app/private/account}" class="btn-nbr-bug"><span class="bug-type">Mon compte</span></a>
</div>