<footer>
    <span class="title">Bugspointer</span>
    <div class="container-row">
        <div class="tierce_card">
            <h2 class="h-in-footer">Liens</h2>
            <a th:href="@{/features}">Fonctionnalités</a> <br>
            <a th:href="@{/documentations}">Documentations</a> <br>
            <a th:href="@{/#pricing}">Prix</a>
        </div>
        <div class="tierce_card">
            <h2 class="h-in-footer">Légale</h2>
            <a th:href="@{/cgu}">CGU</a> <br>
            <a th:href="@{/cgv}">CGV</a> <br>
            <a th:href="@{/mentions}">Mentions légales</a>
        </div>
        <div class="tierce_card">
            <h2 class="h-in-footer">Offres</h2>
            <a th:href="@{/features#free}">Free</a> <br>
            <a th:href="@{/features#targetplan}">Target</a> <br>
            <!--<a th:href="@{/features#ultimate}">Ultimate</a>-->
        </div>
    </div>
    <div class="center">
        <p>Rejoignez notre groupe Facebook pour montrer vos plus belles trouvailles</p>
        <a class="cta-facebook btn-action" href="https://www.facebook.com/groups/1954560191545202"><img src="/css/img/facebook.png" alt="logo Facebook" target="_blank">Voir le groupe</a></div>
    <p>&copy; Bugspointer - 2025 | contact@bugspointer.com </p>
</footer>
<script src="https://bugspointer.com/widget/v1/modalPointer.js" data-public-key="pk_rFmm8S2iTfEcgudsxMt1pZcxI" defer></script>
