<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="theme-color" content="#06100c">
    <link rel="preload" th:href="@{/css/fonts/Inter.ttf}" as="font" type="font/ttf" crossorigin>
    <link rel="preload" th:href="@{/css/fonts/RalewayBold.ttf}" as="font" type="font/ttf" crossorigin>
    <link rel="icon" th:href="@{/favicon.svg(v='20260624-1')}" type="image/svg+xml" sizes="any">
    <link rel="shortcut icon" th:href="@{/favicon.svg(v='20260624-1')}" type="image/svg+xml">
    <link rel="alternate icon" th:href="@{/css/img/icones/BP.ico(v='20260624-1')}" type="image/x-icon">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
