<nav class="nav">
    <span class="title">Bugspointer</span>
    <ul>
        <li th:if="${isLoggedIn == true}"><a class="a_action" th:href="@{/app/private/dashboard}">Dashboard</a></li>
        <li><a th:href="@{/features}">Fonctionnalités</a></li>
        <li><a th:href="@{/documentations}">Documentations</a></li>
        <li><a th:href="@{/#pricing}">Prix</a></li>
        <li th:if="${isLoggedIn == false}"><a class="a_action" th:href="@{/authentication}">Connexion</a></li>
        <li th:if="${isLoggedIn == true}"><a class="a_action" th:href="@{/logout}">Déconnexion</a></li>
    </ul>
</nav>

