<div class="container-row">
    <div class="cards cards_detail w-full lg:w-3/12">
<!--        <img class="img-in-price-card" th:src="@{/css/img/icones/e-mail.gif}" alt="">-->
        <h3 class="h-in-price-card margin-bottom">Free</h3>
        <p class="pricing-note">Pour valider BugsPointer sur un premier site, sans engagement.</p>
        <span class="pricing-label">Inclus</span>
        <ul>
            <li>1 rapport de bug par mois</li>
            <li>Url de la page concernée</li>
            <li>Description simple du problème</li>
            <li>Réception directement par mail</li>
        </ul>
        <a th:href="@{/authentication}" class="btn-action">Essayer maintenant</a>
    </div>
    <div class="cards cards_detail halo-green w-full lg:w-4/12">
        <span class="pricing-badge">Recommandé</span>
<!--        <img class="img-in-price-card" th:src="@{/css/img/icones/cible.gif}" alt="">-->
        <h3 class="h-in-price-card margin-bottom">Target</h3>
        <p class="pricing-note">Pour centraliser les retours utilisateurs et traiter les bugs en continu.</p>
        <ul>
            <th:block th:replace="~{include/targetPlanContent.html}"></th:block>
        </ul>
        <div class="pricing-card-action">
            <span class="price-in-card">0€ jusqu'au 1er juillet</span>
            <a th:href="@{/features#targetplan}" class="btn-action">Voir le détail</a>
        </div>
    </div>
    <!--<div class="cards cards_detail">
        <img class="img-in-price-card" th:src="@{/css/img/icones/base-de-donnees.gif}" alt="">
        <h3 class="h-in-price-card margin-bottom">Ultimate</h3>
        Target Plan <br><br> + <br><br>
        <ul>
            <li>L’URL de la page</li>
            <li>Une simple description</li>
            <li th:replace="~{include/targetPlanContent.html}"></li>
        </ul>
        <span class="price-in-card">50€ / an</span>
        <a th:href="@{/features#ultimateplan}" class="btn-action">Details</a>
    </div>-->
</div>
