<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" th:href="@{/css/img/icones/BP.ico}" type="image/x-icon">
    <link th:href="@{/../css/style.css}" rel="stylesheet" />
    <script th:src="@{/../js/actions.js}"></script>
    <title>Account</title>

</head>
<body>

    <div th:replace="~{include/notifAlert.html}"></div>
    <div th:replace="~{include/navCompany.html}"></div>

    <h1>Account</h1>

    <div class="container">
        <section>
            <form class="cards account" action="#" th:action="@{/app/private/account}" th:object="${company}" method="post">
                <h3>E-mail</h3>
                <input type="text" th:field="*{mail}" id="mail" name="mail" th:value="${company.getMail()}" placeholder="E-mail">
                <input type="password" th:field="*{password}" id="password" name="password" placeholder="Password">
                <input type="hidden" th:field="*{publicKey}" name="publicKey" th:value="${company.getPublicKey()}" readonly>
                <div class="container-row">
                    <button type="submit" class="submit" name="action" value="updateMail">Update</button> <span>&nbsp; | &nbsp;</span>
                    <a class="submit align_in_container_row" th:href="@{/app/private/notifications}"><img th:src="@{/css/img/notification.png}" alt="Notification"></a>
                </div>
            </form>
        </section>

        <section>
            <form class="cards account" action="#" th:action="@{/app/private/account}" th:object="${company}" method="post">
                <h3>Password</h3>
                <input type="password" th:field="*{password}" id="actualPassword" placeholder="Actual password">
                <input type="password" th:field="*{newPassword}" id="newPassword" placeholder="New password">
                <input type="password" th:field="*{confirmPassword}" id="confirmPassword" placeholder="Confirme new password">
                <input type="hidden" th:field="*{publicKey}" th:value="${company.getPublicKey()}" readonly>
                <button type="submit" class="submit" name="action" value="updatePw">Update</button>
            </form>
        </section>

        <section>
            <form class="cards account" action="#" th:action="@{/app/private/account}" th:object="${company}" method="post">
                <h3>SMS</h3>
                <div class="container-phone">
                    <select th:field="*{indicatif}" id="indicatif">
                        <option th:each="indicatif : ${T(com.bugspointer.entity.EnumIndicatif).values()}"
                                th:value="${indicatif}"
                                th:text="${indicatif.getValeur()}"
                                th:selected="${indicatif == company.getIndicatif()}"></option>
                    </select>
                    <input type="tel" th:field="*{phoneNumber}" id="phoneNumber" th:value="${company.getPhoneNumber()}" placeholder="Format : 06xxxxxxxx" pattern="[0-9]{10}">
                </div>
                <input type="hidden" th:field="*{publicKey}" name="publicKey" th:value="${company.getPublicKey()}" readonly>
                <div class="container-row">
                    <button type="submit" class="submit" name="action" value="updateSms">Update</button><span>&nbsp; | &nbsp;</span>
                    <a class="submit align_in_container_row" th:href="@{/app/private/notifications}"><img th:src="@{/css/img/notification.png}" alt="Notification"></a>
                </div>
            </form>
        </section>

        <section>
            <div class="cards account">
                <h3>Type of plan</h3>
                <span th:text="${company.getPlan()}"></span>
                <a class="submit" th:href="@{/features}">Change</a>
            </div>
        </section>

        <section>
            <form class="cards account" th:object="${company}" method="get">
                <h3>Security Key</h3>
                <input type="text" th:field="*{publicKey}" id="publicKey" th:value="${company.getPublicKey()}" readonly>
            </form>
        </section>
        <br>
        <form class="account" action="#" th:action="@{/app/private/account/delete}" th:object="${company}" method="post">
            <input type="hidden" th:field="*{publicKey}" name="publicKey" th:value="${company.getPublicKey()}" readonly>
            <button class="delete" type="submit">Supprimer le compte</button>
        </form>
    </div>

    <div th:replace="~{include/footer.html}"></div>
</body>
</html>