<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{include/head.html}"></div>
    <title>Account</title>
    <meta name="robots" content="noindex">
</head>
<body>

    <div th:replace="~{include/notifAlert.html}"></div>
    <div th:replace="~{include/navCompany.html}"></div>

    <h1>Account</h1>

    <div class="container">
        <section>
            <form class="cards account" action="#" th:action="@{/app/private/account}" th:object="${company}" method="post">
                <h3>E-mail</h3>
                <input type="text" th:field="*{mail}" id="mail" name="mail" th:value="${company.getMail()}" placeholder="E-mail">
                <input type="password" th:field="*{password}" id="password" name="password" placeholder="Password">
                <input type="hidden" th:field="*{publicKey}" name="publicKey" th:value="${company.getPublicKey()}" readonly>
                <div class="row">
                    <button type="submit" class="submit" name="action" value="updateMail">Update</button> <span>&nbsp; | &nbsp;</span>
                    <a class="submit align_in_container_row" th:href="@{/app/private/notifications}"><img th:src="@{/css/img/notification.png}" alt="Notification"></a>
                </div>
            </form>
        </section>

        <section>
            <form class="cards account" action="#" th:action="@{/app/private/account}" th:object="${company}" method="post">
                <h3>Password</h3>
                <input type="password" th:field="*{password}" id="actualPassword" placeholder="Actual password">
                <input type="password" th:field="*{newPassword}" id="newPassword" placeholder="New password">
                <input type="password" th:field="*{confirmPassword}" id="confirmPassword" placeholder="Confirme new password">
                <input type="hidden" th:field="*{publicKey}" th:value="${company.getPublicKey()}" readonly>
                <button type="submit" class="submit" name="action" value="updatePw">Update</button>
            </form>
        </section>

        <!--<section>
            <form class="cards account" action="#" th:action="@{/app/private/account}" th:object="${company}" method="post">
                <h3>SMS</h3>
                <div class="container-phone">
                    <select th:field="*{indicatif}" id="indicatif">
                        <option th:each="indicatif : ${T(com.bugspointer.entity.EnumIndicatif).values()}"
                                th:value="${indicatif}"
                                th:text="${indicatif.getValeur()}"
                                th:selected="${indicatif == company.getIndicatif()}"></option>
                    </select>
                    <input type="tel" th:field="*{phoneNumber}" id="phoneNumber" th:value="${company.getPhoneNumber()}" placeholder="Format : 06xxxxxxxx" pattern="[0-9]{10}">
                </div>
                <input type="hidden" th:field="*{publicKey}" name="publicKey" th:value="${company.getPublicKey()}" readonly>
                <div class="container-row">
                    <button type="submit" class="submit" name="action" value="updateSms">Update</button><span>&nbsp; | &nbsp;</span>
                    <a class="submit align_in_container_row" th:href="@{/app/private/notifications}"><img th:src="@{/css/img/notification.png}" alt="Notification"></a>
                </div>
            </form>
        </section>-->

        <section id="domain">
            <form class="cards account" action="#" th:action="@{/app/private/account}" th:object="${company}" method="post">
                <h3>Domaine</h3>
                <input type="text" th:field="*{domaine}" id="domaine" th:value="${company.getDomaine()}" placeholder="Indiquez le domaine du site contenant la modal de rapport de bug">
                <input type="password" th:field="*{password}" placeholder="Password">
                <input type="hidden" th:field="*{publicKey}" th:value="${company.getPublicKey()}" readonly>
                <button type="submit" class="submit" name="action" value="updateDomaine">Update</button>
            </form>
        </section>

        <section>
            <div class="cards account">
                <h3>Type of plan</h3>
                <span style="margin-top:22px;" th:text="${company.getPlan()}"></span>
                <div class="container-row">
                    <a class="submit solved" th:href="@{/features}">Change plan</a>
                    <a type="button" class="submit new" style="margin:15px 0 0 15px;" id="confirmationButtonClosePlan" th:href="@{/api/user/{idCompany}/{idCustomer}/stopSubscribe(idCompany=${company.getId()}, idCustomer=${company.getCustomerId()})}" th:if="${company.getPlan() != T(com.bugspointer.entity.EnumPlan).FREE}">Stop my subscribe</a>
                </div>
            </div>
        </section>

        <section>
            <div class="cards account">
                <h3>Mandats</h3>
                <p th:if="${mandates.size() == 0}">Vous n'avez pas encore de mandat de prélèvement</p>
                <div class="cards-mandate" th:if="${mandates.size() > 0}">
                    <table class="content-info-mandat">
                        <tbody>
                            <tr class="th">
                                <th>Iban</th>
                                <th>Bic</th>
                                <th>Validité</th>
                                <th>Action</th>
                            </tr>
                            <tr class="tr" th:each="mandate :${mandates}">
                                <td class="iban" th:text="${mandate.getIban()}"></td>
                                <td class="bic" th:text="${mandate.getBic()}"></td>
                                <td class="validity" th:text="${mandate.getValidDate()}"></td>
                                <td class="action center"><a class="submit align_in_container_row new" th:href="@{/api/user/{idCompany}/{idCustomer}/deleteMandate/{idMandate}(idCompany=${company.getId()} ,idCustomer=${mandate.getCustomerId()}, idMandate=${mandate.getMandateId()})}">x</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <section>
            <form class="cards account" th:object="${company}" method="get">
                <h3>Public Key</h3>
                <input type="text" th:field="*{publicKey}" id="publicKey" th:value="${company.getPublicKey()}" readonly>
            </form>
        </section>
        <br>
        <form id="key" class="account" action="#" th:action="@{/app/private/account/delete}" th:object="${company}" method="post">
            <input type="hidden" th:field="*{publicKey}" name="publicKey" th:value="${company.getPublicKey()}" readonly>
            <button class="delete" type="submit">Clôturer mon compte</button>
        </form>
    </div>

    <div th:replace="~{include/footer.html}"></div>
    <script th:inline="javascript">

        const btnStop = document.getElementById('confirmationButtonClosePlan');
        /* Account close plan confirme */
        btnStop.onclick = function(event) {


            // Demander la confirmation de l'utilisateur
            const url = btnStop.getAttribute("href");
            const confirmation = window.confirm("Êtes-vous sûr de vouloir stopper votre abonnement ?");

            // Vérifier la réponse de l'utilisateur
            if (confirmation) {
                // Si l'utilisateur a confirmé, joignez l'URL finale
                window.location.href = url;
            } else {
                event.preventDefault();
            }
        }
    </script>

</body>
</html>
};