<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="black">
<div th:replace="~{include/head.html}"></div>
    <title>Récapitulatif de paiement</title>
</head>
<body class="index">

<div th:replace="~{include/notifAlert.html}"></div>
<div th:replace="~{include/nav.html}"></div>

<div class="container">
    <h1 class="h-in-black space">Confirmation d'abonnement</h1>

    <div class="cards cards_detail w40 margin_auto">
        <h3>Conflit d'abonnement</h3><!--TODO: ajouter une protection avec le jwt si publickey est changée ? Pour ne pas permettre le plvt sur un autre compte-->
        <form action="#" th:action="@{/api/user/subscription}" method="post" class="form" th:object="${subscription}">
            <p class="space">Votre abonnement actuel : <span th:text="${produit.toString()}"></span> Plan pour <span th:text="${subscription.getAmount().getValue()}"></span> € par an
                <br>
                Il est valable jusqu'au : <span th:text="${#dates.format(nextPaymentDate, 'dd/MM/yyyy')}"></span>
            </p>
            <p>Nouvel abonnement choisi : <span th:text="${subscription.getNewPlan().name()}"></span> Plan pour <span th:text="${subscription.getNewPlan().getValeur()}"></span> € par an
            </p>
            <input type="hidden" th:field="*{id}" th:value="${subscription.getId()}" readonly>
            <input type="hidden" th:field="*{mandateId}" th:value="${subscription.getMandateId()}" readonly>
            <input type="hidden" th:field="*{status}" th:value="${subscription.getStatus()}" readonly>
            <input type="hidden" th:field="*{newPlan}" th:value="${subscription.getNewPlan()}" readonly>
            <input type="hidden" th:field="*{publicKey}" th:value="${subscription.getPublicKey()}" readonly>

            <button class="btn-action cancel-margin-top" type="submit" name="action" value="submit">Changer de Plan</button>
            <button class="btn-action cancel-margin-top" type="submit" name="action" value="annuler">Annuler le changement</button>

        </form>
    </div>
</div>
<div th:replace="~{include/footer.html}"></div>
</body>
</html>