<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/../css/style.css}" rel="stylesheet" />
    <title>Bugs Pointer</title>

</head>
<body>

    <div th:replace="~{include/navCompany.html}"></div>
    <div class="notification" th:text="${notification}"></div>
    <div class="alert" th:text="${alert}"></div>

    <h1>My Dashboard</h1>

    <div class="container">
        <section th:name="sectionBugDashboard" th:object="${company}" th:if="${company.getPlan() != T(com.bugspointer.entity.EnumPlan).FREE}">
            <h2 style="text-align: center">Report section</h2>
            <hr>
            <div class="container-row">
                <a th:href="@{/app/private/newBugList}" class="cards">
                    <span class="number_cards new" th:field="*{nbNewBug}" id="nbNewBug" th:text="${company.getNbNewBug()}"></span>
                    <h3>New bug</h3>
                </a>
                <a th:href="@{/app/private/pendingBugList}" class="cards">
                    <span class="number_cards pending" th:field="*{nbPendingBug}" id="nbPendingBug" th:text="${company.getNbPendingBug()}"></span>
                    <h3>Pending bug</h3>
                </a>
                <a th:href="@{/app/private/solvedBugList}" class="cards">
                    <span class="number_cards solved" th:field="*{nbSolvedBug}" id="nbSolvedBug" th:text="${company.getNbSolvedBug()}"></span>
                    <h3>Solved bug</h3>
                </a>
                <a th:href="@{/app/private/solvedBugList}" class="cards">
                    <span class="number_cards ignored" th:field="*{nbIgnoredBug}" id="nbIgnoredBug" th:text="${company.getNbIgnoredBug()}">1</span>
                    <h3>Ignored bug</h3>
                </a>
            </div>
            
        </section>
        
        <section>
            <h2 style="text-align: center">Parameters</h2>
            <hr>
            <div class="container-row">
                <a th:href="@{/app/private/invoices}" class="cards" th:if="${company.getPlan() != T(com.bugspointer.entity.EnumPlan).FREE}"><h3>Invoices</h3></a>
                <a th:href="@{/app/private/notifications}" class="cards"><h3>Notifications</h3></a>
                <a th:href="@{/app/private/account}" class="cards"><h3>Account</h3></a>
            </div>
        </section>
        
        <section>
            <div class="container-row">
                <div class="cards cards_promo">
                    <h2>Change Plan</h2>
                    <ul>
                        <li th:replace="~{include/targetPlanContent.html}"></li>
                    </ul>
                    <a th:href="@{/features}">Details</a>
                    <span>Without engagement</span>
                </div>

                <div class="slider adjustPlan">
                    <div class="slides">
                        <div id="slide-1">
                            <img th:src="@{/css/img/sliderPlan/dashboard.png}" alt="Preview of HTML content">
                        </div>
                        <div id="slide-2">
                            <img th:src="@{/css/img/sliderPlan/newBug.png}" alt="New bug">
                        </div>
                        <div id="slide-3">
                            <img th:src="@{/css/img/sliderPlan/userEnv.png}" alt="User Environment">
                        </div>
                        <div id="slide-4">
                            <img th:src="@{/css/img/sliderPlan/invoice.png}" alt="Invoice">
                        </div>
                    </div>
                    <div class="content-dotlink">
                        <a class="slide" href="#slide-1">1</a>
                        <a class="slide" href="#slide-2">2</a>
                        <a class="slide" href="#slide-3">3</a>
                        <a class="slide" href="#slide-4">4</a>
                    </div>
                </div>
            </div>
        </section>
        
    </div>

    <div th:replace="~{include/footer.html}"></div>
</body>
</html>
