<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="black">
<div th:replace="~{include/head.html}"></div>
    <title>Récapitulatif de paiement</title>
    <meta name="robots" content="noindex">
</head>
<body class="index">

    <div th:replace="~{include/notifAlert.html}"></div>
    <div th:replace="~{include/nav.html}"></div>

    <div class="container">
        <h1 class="h-in-black space">Offre sélectionnée</h1>
        <h2 class="h-in-black productName" style="text-transform: uppercase" th:text="${product.name()}"></h2>

        <section class="w60 margin_auto">
            <hr class="hr-step">
            <div class="step-payment container-row">
                <div class="step finish-step">Choix du plan</div>
                <div class="step pending-step">Coordonnées</div>
                <div class="step futur-step">Paiement</div>
            </div>
        </section>

        <div class="cards cards_detail w40 margin_auto space" style="min-width: fit-content;">
            <h3>Coordonnés de facturation</h3>
            <br>
            <form action="#" th:action="@{/api/user/newCustomer}" method="post" class="form" th:object="${customer}">

                <input type="text" th:field="*{mail}" placeholder="Votre e-mail" th:value="${customer.getMail()}" required>
                <input type="text" th:field="*{companyName}" placeholder="Nom de l'entreprise" th:value="${customer.getCompanyName()}" required>
                <input type="text" th:field="*{address1}" placeholder="Adresse 1" required>
                <input type="text" th:field="*{address2}" placeholder="Adresse 2">
                <input type="text" th:field="*{cp}" placeholder="Code Postal" required>
                <input type="text" th:field="*{city}" placeholder="Ville" required>
                <input type="text" th:field="*{country}" placeholder="Pays" th:value="France" required>
                <input type="hidden" th:field="*{publicKey}" th:value="${customer.getPublicKey()}" readonly>
                <input type="hidden" th:field="*{plan}" th:value="${product}" readonly>
                <p><input type="checkbox" th:field="*{cguAccepted}" required> J'accepte les <a style="color: black; text-decoration: underline;" target="_blank" th:href="@{/cgv}">CGV</a> et <a style="color: black; text-decoration: underline;" target="_blank" th:href="@{/cgu}">CGU</a></p>

                <input class="btn-action cancel-margin-top" type="submit" th:value="'Passer au paiement de ' + ${product.getValeur()} + '€ / an'">

            </form>
        </div>
    </div>
    <div th:replace="~{include/footer.html}"></div>
</body>
</html>