<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="black">
<div th:replace="~{include/head.html}"></div>
    <title>Merci pour votre abonnement</title>
    <meta name="robots" content="noindex">
</head>
<body class="index">
    <div th:replace="~{include/notifAlert.html}"></div>
    <div th:replace="~{include/nav.html}"></div>

    <div class="container">
        <img style="width:60%; margin:0 auto;" th:src="@{/css/img/motion/merci_motion.gif}" alt="thanks"/>

        <h1 th:text="${title}" class="space"></h1>

        <div th:if="${plan != null && plan == 'TARGET'}" class="btn-download container-row">
            <p class="center">Venez profiter dès à présent de votre tout nouveau Dashboard, fraichement construit pour votre arrivée</p>
            <a th:href="@{/app/private/dashboard}" class="btn-action">Mon Dashboard</a>
        </div>

       <!-- <div th:if="${plan == 'ULTIMATE'}" class="btn-download container-row">
            <p class="center">Rendez-vous dans votre Dashboard, dans une nouvelle catégorie fraichement construite, afin de mettre en place simplement le lien entre Bugspointer et votre plateforme de développement</p>
            <a th:href="@{/app/private/dashboard}" class="btn-action">Mon Dashboard</a>
        </div>-->

    </div>

    <div th:replace="~{include/footer.html}"></div>
</body>
</html>