<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="black">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" th:href="@{/css/img/icones/BP.ico}" type="image/x-icon">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
<title>Bugs Pointer</title>
</head>
<body class="index">
    <div th:replace="~{include/notifAlert.html}"></div>
    <div th:replace="~{include/nav.html}"></div>

    <div class="container container-row">
        <section>
            <div class="cards cards_detail w90">
                <h3>S'inscrire</h3>
                <form class="form" action="#" th:action="@{/register}" th:object="${companyRegister}" method="post">
                    <input type="text" th:field="*{companyName}" id="companyName" placeholder="Nom de votre entreprise" required>
                    <input type="text" th:field="*{mail}" id="registerMail" placeholder="E-mail" required>
                    <input type="text" th:field="*{confirmMail}" id="confirmMail" placeholder="Confirmation de l'e-mail" required>
                    <input type="password" th:field="*{password}" id="registerPassword" placeholder="Mot de passe" required>
                    <input type="password" th:field="*{confirmPassword}" id="confirmPassword" placeholder="Confirmation du mot de passe" required>
                    <input class="btn-action" type="submit" value="Debug maintenant !">
                </form>
            </div>
        </section>
        <br>
        <section>
            <div class="cards cards_detail w40">
                <h3>Se connecter</h3>
                <form class="form" action="#" th:action="@{/login}" th:object="${companyLogin}" method="post">
                    <input type="text" th:field="*{mail}" id="mail" placeholder="E-mail" required>
                    <input type="password" th:field="*{password}" id="password" placeholder="Mot de passe" required>
                    <p style="height: fit-content; margin-right:5px;"><input type="checkbox" name="rememberMe" id="rememberMe"> Se souvenir de moi</p>
                    <input class="btn-action cancel-margin-top" type="submit" value="Connexion">
                </form>
                <a style="color: black;" th:href="@{/pwLost}">Mot de passe oublié ?</a>
            </div>
        </section>
    </div>

    <p th:if="${notification != null && notification.contains('contact@bugspointer.com')}" class="center">Votre compte est désactivé ? Vous souhaitez le réactiver ? Veuillez envoyer votre demande à contact@bugspointer.com</p>

    <div th:replace="~{include/footer.html}"></div>

</body>
</html>