<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{include/head.html}"></div>
    <title>Comment utiliser BugsPointer - Documentations / API</title>
    <meta name="description" content="Trouvez toutes les réponses à vos questions sur l'utilisation de BugsPointer dans notre documentation">
    <meta name="keywords" content="utiliser BugsPointer, comment avoir BugsPointer, download, téléchargement, API, clé de sécurité, publicKey, ">
    <meta name="robots" content="all">
</head>
<body>

    <div th:replace="~{include/navCompany.html}"></div>


    <div class="container-documentation">
        <div class="menu menu-documentation" id="menu">
            <button class="nav-toggler" id="navDocumentation-toggler" onclick="window.location.href='#navDocumentation-toggler';">
                <!--<span class="navDashboard-toggler-icon"></span>--><img src="/css/img/menu_burger_noir.png" alt="">
             </button>
            <h4><a href="#integration">Intégration</a></h4>
            <ul>
                <li><a href="#download">Télécharger les fichiers</a></li>
                <li><a href="#implement">Implémenter les fichiers sur votre site</a></li>
            </ul>
            <h4><a href="#configuration">Configuration</a></h4>
            <ul>
                <li><a href="#key">Renseigner votre clé de sécurité</a></li>
                <li><a href="#domain">Renseigner votre domaine</a></li>
            </ul>
            <h4><a href="#customisation">Customisation</a></h4>
            <ul>
                <li><a href="#link">Lien sur votre page</a></li>
                <li><a href="#logo">Logo sur votre page</a></li>
            </ul>
            <h4><a href="#reportBug">Déclarer un bug</a></h4>
            <ul>
                <li><a href="#findBug">Comment déclarer un bug</a></li>
            </ul>
            <h4><a href="#manageBug">Gestion des bugs</a></h4>
            <ul>
                <li><a href="#newBug">Nouveau bug</a></li>
                <li><a href="#pendingBug">Bug en cours</a></li>
                <li><a href="#solvedBug">Bug résolu</a></li>
                <li><a href="#ignoredBug">Bug ignoré</a></li>
            </ul>
        </div>

        <div class="container anti-margin">
            <h1>Documentations</h1>

           <section>
                <div class="cards w40 card-documentation-youtube">
                    <h2>Retrouver nos tutos sur <span style="font-weight: bold">Youtube</span></h2>
                    <div class="container-row">
                        <p>Vous pouvez retrouver toutes nos vidéos sur notre chaine, qui vous guideront à travers l'utilisation de l'outil pour les différentes étapes d'intégration ou de customisation. <br><br>
                            Il vous manque une aide ? <br> Faites-le savoir à : contact@bugspointer.com</p>
                        <a href="https://www.youtube.com/channel/UCEN7__zrKoAiL57H4kMHQug" class="btn-action btn-all-youtube">Voir la chaine</a>
                   </div>
                </div>
            </section>

            <hr style="color: black;width: 100%;margin-bottom: 30px;">

            <div class="text_align_left">
                 <h2 class="space" id="integration">Intégration</h2>

                <div class="warning border-orange">
                    <img th:src="@{/css/img/icones/camera.gif}" alt="Caméra">
                    <span>Une vidéo tuto est bientôt prévue pour cette section</span>
                </div>
                
                <h3 id="download" class="h3_documentation">Télécharger les fichiers</h3>
                <div class="card_doc"><p>Pour télécharger le projet rendez-vous sur l’url : <a target="_blank" th:href="@{/download}">https://www.bugspointer.com/download</a> <br>
                    Vous devez avoir un compte valide pour obtenir les différents fichiers</p>
                </div>
                <h3 id="implement" class="h3_documentation">Implémenter les fichiers sur votre site</h3>
                <div class="card_doc">
                    <p>
                    Pour profiter de BugsPointer sur votre site, il vous suffit de copier/coller les fichiers que vous avez téléchargés. <br>
                    Placez-les dans votre arborescence : <br><br>

                    lien.html<br>
                    bouton.html<br>
                    modalStyle.css a placé dans votre dossier de style<br>
                    modalControl.js a placé dans votre dossier javascript<br>
                    modal.html a placé à la racine de votre site
                    </p>

                    <p>Pour que les fichiers soient visibles sur votre page, vous devez ensuite : <br><br>
                    <ul>
                        <li>inclure un lien et/ou un bouton sur la page à débugger</li>
                        <li>inclure le fichier modalStyle.css et modalControl.js dans votre balise <code>&lt;head&gt;&lt;/head&gt;</code> </li>
                        <li>inclure en fin de page le fichier modal.html</li>
                    </ul>
                    </p>
                    
                    <div class="warning border-orange">
                        <img th:src="@{/css/img/alerte.gif}" alt="Gyrophare">
                        <span>L'intégration des fichiers est différente selon le langage utilisé : <a href="https://chat.openai.com/share/a7f57638-408a-4322-86c4-193b2f085c96">Voir des exemples</a></span>
                    </div>

                </div>

                 <h2 class="space" id="configuration">Configuration</h2>

                <div class="warning border-orange">
                    <img th:src="@{/css/img/icones/camera.gif}" alt="Caméra">
                    <span>Une vidéo tuto est bientôt prévue pour cette section</span>
                </div>

                <h3 id="key" class="h3_documentation">Renseigner votre clé public</h3>
                <div class="card_doc">
                    <p>
                        Rendez-vous dans votre page Account pour trouver votre Public Key. <br><br>
                        Coller là dans le fichier modalControl.js à la ligne 1, à la place de YOUR_KEY_HERE :<br><br>
                        <code>1| const key = "YOUR_KEY_HERE"; /* Ajoutez votre clé publique ici, entre les "" */</code>
                        <br><br>
                    </p>
                </div>

                <h3 id="domain" class="h3_documentation">Renseigner votre domaine</h3>
                <div class="card_doc">
                    <p>Rendez-vous dans votre page Account et assurez-vous d'avoir correctement renseigné la partie " Domaine "
                    <br><br>
                    <p>Vous pouvez le vérifier ici ( si vous êtes connecté ) : <a th:href="@{/app/private/account#domain}">https://www.bugspointer.com/app/private/account#domain</a></p>
                    </p>
                </div>

                <div class="warning border-orange">
                    <img th:src="@{/css/img/alerte.gif}" alt="Gyrophare">
                    <span>L'intégration de votre clé publique et de votre nom de domaine est obligatoire pour recevoir vos rapports de bugs</span>
                </div>

                 <h2 class="space" id="customisation">Customisation</h2>

                <div class="warning border-orange">
                    <img th:src="@{/css/img/icones/camera.gif}" alt="Caméra">
                    <span>Une vidéo tuto est bientôt prévue pour cette section</span>
                </div>

                <h3 id="link" class="h3_documentation">Lien sur votre page</h3>
                <div class="card_doc">
                    <p>La customisation du lien contenant le formulaire n'appartient qu'à vous. Vous êtes libre d'appliquer le style ainsi que le message que vous souhaitez sur ces boutons</p>
                    <br>
                    <code>&lt;a class="bugspointer-open-popup" id="bugspointer_open_popup"&gt;Signaler un bug&lt;/a&gt;</code>
                    <br><br>
                    <p>Cependant, vous pouvez ajouter n'importe quelles classes <strong>en plus de bugspointer-open-popup</strong> mais, <span style="color:red; font-weight: bold;">vous ne devait en aucun cas toucher à l'id</span></p>
                </div>

                <h3 id="logo" class="h3_documentation">Logo sur votre page</h3>
                <div class="card_doc">
                    <p>La customisation du logo est également possible. Pour cela, rendez-vous dans le fichier modalStyle.css</p>
                    <br>
                    <p>Les couleurs et polices sont changeables dans la classe :root, cependant comme conformément à nos cgu, vous ne pouvez pas changer les ids et les classes du fichier modal.html et modalStyle.css, mais vous pouvez ajouter d'autres classes afin de parfaire le style, selon votre charte graphique.</p>
                </div>

                <div class="warning border-red">
                    <img th:src="@{/css/img/alerte.gif}" alt="Gyrophare">
                    <span>Changer les classes et les ids originales nuira au bon fonctionnement de l'application</span>
                </div>

                 <h2 class="space" id="reportBug">Déclarer un bug</h2>

                <div class="center"><a class="btn-action btn-access-video" href="https://www.youtube.com/watch?v=T4ReMfM1xKU" target="_blank">
                    <img th:src="@{/css/img/icones/video-blanche.png}" alt="camera">
                    Voir le guide vidéo</a>
                </div>

                <h3 id="findBug" class="h3_documentation">Comment déclarer un bug</h3>
                <div class="card_doc">
                    <p>En tant qu'utilisateur d'un site internet possédant la technologie de BugsPointer, vous pouvez signaler un bug via un lien sur la page, ou via un logo visible sur la page. Le propriétaire du site est libre de choisir quelle méthode il souhaite utiliser.</p>
                    <br>
                    <p>En cliquant sur n'importe lequel des moyens, une fenêtre apparaît sur votre navigateur. <br><br>
                    Cette fenêtre est constituée de l'url de la page sur laquelle vous êtes, un bouton permettant de pointer l'endroit de la page où le bug se situe et une description
                        <br><br>
                    Pointer un bug, ainsi qu'une description de minimum 10 caractères est nécessaire pour l'envoi d'un rapport de bug</p>
                </div>

                 <h2 class="space" id="manageBug">Gestion des bugs</h2>

                <div class="warning border-orange">
                    <img th:src="@{/css/img/icones/camera.gif}" alt="Caméra">
                    <span>Une vidéo tuto est bientôt prévue pour cette section</span>
                </div>

                <h3 id="newBug" class="h3_documentation">Nouveau bug</h3>

                <div class="card_doc">
                    <p>Lors du signalement d'un bug sur votre site par votre utilisateur, un nouveau bug vous est ajouté dans votre Dashboard.
                        <br>
                        Suivant vos préférences de notifications, vous allez ( ou non ) recevoir un mail à la réception du bug.
                        <br>
                        Vous le retrouverez ensuite dans la tuile rouge "new bug".
                        <br><br>
                        Une fois sur la page du bug, vous pouvez le classer en 3 catégories :

                        <ul>
                            <li>En cours</li>
                            <li>Résolu</li>
                            <li>Ignoré</li>
                        </ul>
                    </p>
                </div>

                <h3 id="pendingBug" class="h3_documentation">Bug en cours</h3>

                <div class="card_doc">
                    <p>Lorsque vous classez un bug dans la catégorie "en cours", il lui est ajouté l'heure à laquelle vous l'avez vu afin de confirmer son déplacement dans cette catégorie.
                        <br><br> Corriger ce bug et confirmer sa résolution</p>
                </div>

                <h3 id="solvedBug" class="h3_documentation">Bug résolu</h3>

                <div class="card_doc">
                    <p>Une fois un bug résolu, il sera déplacé dans cette catégorie afin de servir d'archive pour garder une trace de tous les bugs reçus dans votre Dashboard.

                    <br><br>

                    Toutefois, si vous vous apercevez que le bug n'est pas résolu, vous pouvez le réouvrir, ce qui le placera automatiquement dans la catégorie "en cours".</p>
                </div>

                <h3 id="ignoredBug" class="h3_documentation">Bug ignoré</h3>

                <div class="card_doc">
                    <p>Si un utilisateur vous a signalé un bug que vous connaissiez déjà, ou bien que ce n'est pas un bug pour vous, vous pouvez ignorer ce bug.
                        <br><br>
                    Comme un bug résolu, il sera gardé en archive. <br>
                    Toutefois, si vous jugez que ce n'est plus un bug à ignorer, vous pouvez annuler l'ignorance, dans ce cas, le bug sera reclassé dans la catégorie "en cours".</p>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{include/footer.html}"></div>
</body>
</html>