<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="black">
<div th:replace="~{include/head.html}"></div>
    <title>Téléchargement</title>
</head>
<body class="index">

    <div th:replace="~{include/nav.html}"></div>

    <div class="container">
        <h1 class="h-in-black">Téléchargement</h1>

        <p class="space">Obtener les fichiers permettant de mettre sur votre site le logo et le formulaire de Bugspointer</p>

        <div th:replace="~{include/btnDownload.html}"></div>

        <p class="space">Pour que l'intégration de l'outil à votre site se face plus facilement, consulter la documentation en ligne</p>

        <a th:href="@{/documentations}" class="btn-action">Voir la documentation</a>
    </div>
    <div th:replace="~{include/footer.html}"></div>
    <script th:inline="javascript">
        function downloadFile(link) {
            // Récupérer l'ID de l'entreprise à partir de l'attribut th:data
            var companyId = link.getAttribute('data-companyId');

            // Effectuer l'appel API à votre endpoint en utilisant l'ID de l'entreprise
            fetch('api/user/addDateDownload/' + companyId, {
                method: 'GET'
            });
        }
    </script>
</body>
</html>