<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="black">
<div th:replace="~{include/head.html}"></div>
    <title>Découvrez toutes les fonctionnalités de BugsPointer</title>
    <meta name="description" content="Facile à mettre en place, profitez des nombreuses aides que peut vous apportez BugsPointer. ">
    <meta name="keywords" content="fonctionnalités, rapport de bug, tableau de bord, target plan">
    <meta name="robots" content="all">
</head>
<body class="index">
    <div th:replace="~{include/nav.html}"></div>

    <h1>Pensé pour votre entreprise, pensé pour vos utilisateurs</h1>

    <div class="container">
        <h2 class="space green-pill">Profiter des avantages d'un site web, sans bug</h2>

        <div th:replace="~{include/pricingSection.html}"></div>
    </div>

    <div class="headband">
        <h2>Free</h2>
        <a th:href="@{/authentication}" class="btn-action" style="margin-top: 10px!important;">S'inscrire</a>
    </div>

    <div class="container">



        <div class="container container-row space-feature feature-transition">
            <div class="left feature_name">Contenu du rapport</div>
            <div class="right feature_description">
                <p>Votre rapport contient : <br><br> L'URL complète de la page contenant le bug
                <br><br> Une brève description laisser par l'utilisateur</p>
            </div>
        </div>

        <div class="grey-form1"></div>

        <div class="container container-row space-feature feature-transition">
            <div class="left feature_description text-after-title">
                <p>Vous pouvez modifier les couleurs et certain texte pour intégrer notre outil à 100% avec votre charte graphique</p>
            </div>
            <div class="right feature_name ">Customisation</div>
        </div>

        <!--<div class="container container-row space-feature feature-transition">
            <div class="right feature_name">CrawlScan</div>
            <div class="left feature_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Consectetur delectus ea labore. Cum esse explicabo nam porro quas, sed? Consequuntur expedita ipsam
                <br> magni possimus quae quos reprehenderit soluta voluptatem voluptatum.</div>
        </div>

        <div class="container container-row space-feature feature-transition">
            <div class="right feature_description">Avec la version gratuite, vous ne pouvez pas recevoir plus d'un rapport de bug en 30 jours.
                <br><br> Passer à la version TARGET pour voir un nombre illimité de rapports</div>
            <div class="left feature_name">Nombre de rapport limité</div>
        </div>-->

        <div class="green-form green-form-right"></div>

        <div class="container container-row space-feature feature-transition">
            <div class="left feature_name">Nombre de rapport limité</div>
            <div class="right feature_description">
                <p>Avec la version gratuite, vous ne pouvez pas recevoir plus d'un rapport de bug en 30 jours.
                <br><br> Passer à la version TARGET pour voir un nombre illimité de rapports</p>
            </div>
        </div>

    </div>


    <div class="headband">
        <h2>Target</h2>
        <a href="app/private/recapPayment?product=TARGET" class="btn-action" style="margin-top: 10px!important;">15€ / an</a>
    </div>

    <div class="container">

        <div class="container container-row space-feature feature-transition">
            <div class="left feature_name">Dashboard</div>
            <div class="right feature_description"><p>Administrer tous vos rapports sur un tableau de bord clair et intuitif</p>
                <img class="img-description-feature" th:src="@{/css/img/sliderPlan/dashboard.png}" alt="Preview of dashboard">
            </div>
        </div>

        <div class="grey-form2"></div>

        <div class="container container-row space-feature feature-transition">
           <div class="container-row left text-after-title">
               <div class="feature_description">
                   <p>Obtenez des données de l'appareil de l'utilisateur comme la taille d'écran ou son navigateur pour comprendre dans quelle circonstance le bug est apparu chez lui</p>
                   <img class="img-description-feature" th:src="@{/css/img/sliderPlan/userEnv.png}" alt="Preview of user environment">
               </div>
           </div>
            <div class="right feature_name">Environnement de l'utilisateur</div>
        </div>

        <div class="green-form green-form-left"></div>

        <div class="container container-row space-feature feature-transition">
            <div class="left feature_name">Dashboard</div>
            <div class="right feature_description">
                <p>Administrer tous vos rapports sur un tableau de bord clair et intuitif</p>
                <img class="img-description-feature" th:src="@{/css/img/sliderPlan/dashboard.png}" alt="Preview of dashboard">
            </div>
        </div>

        <div class="container container-row space-feature feature-transition">
            <div class="left feature_description text-after-title"><p>Vous n'avez plus de limite de rapport, recevez instantanément tous les rapports que vos utilisateurs envois dans votre dashboard</p></div>
            <div class="right feature_name">Rapports illimités</div>
        </div>
    </div>


    <!--<div class="headband">
        <h2>Ultimate</h2>
        <a href="app/private/recapPayment?product=ULTIMATE" class="btn-action" style="margin-top: 10px!important;">50€ / an</a>
    </div>-->


<div th:replace="~{include/footer.html}"></div>
    <script>

        const heightScreen = window.innerHeight - 100;
        // Sélectionnez les éléments en dehors de la fonction handleScroll
        const featureElements = document.querySelectorAll('.feature-transition');

        // Fonction pour activer la transition lorsque l'élément est à 1000px du haut de la fenêtre
        function handleScroll() {
            featureElements.forEach(function(element) {
                const elementTopPosition = element.getBoundingClientRect().top;

                if (elementTopPosition <= heightScreen) {
                    element.style.opacity="1";
                }
            });
        }

        // Écouteur d'événement pour le défilement de la fenêtre
        setInterval(function() {
            handleScroll()
        },100);

    </script>
</body>
</html>