<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="black">
<div th:replace="~{include/head.html}"></div>
    <title>New User</title>
</head>
<body class="index" id="page-new-user">
    <div th:replace="~{include/notifAlert.html}"></div>
    <div th:replace="~{include/nav.html}"></div>

    <div class="container">
        <h1>Mail confirmé avec succès</h1>

        <div class="btn-download newUser">
            <div class="center" style="width: 100%;">
                <span class="center">
                    Merci de nous indiquer l'url du site web concerné<br>
                    <span class="small-text">(Ceci à des fins de sécurité lors de la réception des bugs )</span>
                </span>
            <form class="container-row" action="#" th:object="${company}" method="post">
                <input type="text" th:field="*{domaine}" id="domaine" placeholder="monsite.extension" th:value="${company.getDomaine()}">
                <input th:if="${company.getDomaine() == null}" class="btn-action" type="button" id="btn-envoi" value="Envoyer">
            </form>
            </div>
            <img th:if="${company.getDomaine() != null}" alt="valide" th:src="@{/css/img/icones/verifie.gif}">
        </div>

        <div th:if="${company.getDomaine() != null}" style="width: 100%">

            <h2 class="h2-newUser">Suivez les étapes pour mettre en place Bugspointer sur votre site internet</h2>


            <div class="btn-download newUser">
                <div class="center center-in-card fs20">
                    <span class="center">
                        Connectez-vous à votre compte
                    </span>
                    <div class="container-row">
                        <a th:href="@{/authentication}" target="_blank" class="btn-action">Connexion</a>
                    </div>
                </div>
                <img alt="clé" th:src="@{/css/img/utilisateur.gif}"/>
            </div>

            <div class="w40" th:replace="~{include/btnDownload.html}"></div>

            <div class="btn-download newUser">
                <div class="center center-in-card fs20">
                    <span class="center">
                        Aller sur votre Dashboard puis dans Account
                        <br>Copier la Security Key et coller là dans le fichier modalControl.js, au début du fichier
                    </span>
                    <div class="container-row">
                        <a th:href="@{/documentations#key}" target="_blank" class="btn-action">Documentation</a>
                        <a th:if="${isLoggedIn == false}" th:href="@{/app/private/dashboard}" target="_blank" class="submit">Dashboard</a> <!--TODO a surveiller si connexion avant, le app/private/dash ne fait pas une 401-->
                        <a th:if="${isLoggedIn == true}" th:href="@{/app/private/account#key}" target="_blank" class="submit">Account</a>
                    </div>
                </div>
                <img alt="clé" th:src="@{/css/img/icones/chiffrement.gif}"/>
            </div>

            <div th:if="${company.getPlan()==T(com.bugspointer.entity.EnumPlan).FREE}" class="btn-download newUser w90">
                <div class="center center-in-card fs20">
                    <span class="center">
                        Vous avez actuellement la version gratuite <br>
                        Passer à Target Plan pour suivre vos rapports efficacement
                    </span>
                    <div class="container-row">
                    <a th:href="@{/features#targetplan}" target="_blank" class="btn-action">Voir les avantages pour 15€/an</a>
                    </div>
                </div>
                <img alt="moniteur" th:src="@{/css/img/icones/moniteur.gif}"/>
            </div>

            <div class="btn-download newUser">
                <div class="center center-in-card fs20">
                    <span class="center">
                        Intégrer vos fichiers sur toutes les pages où vous souhaitez faire afficher le formulaire de bug
                    </span>
                    <div class="container-row">
                        <a th:href="@{/documentations#implement}" target="_blank" class="btn-action">Documentation</a>
                    </div>
                </div>
                <img alt="transfert" th:src="@{/css/img/icones/transfert.gif}"/>
            </div>

            <p class="center space">Pour tous soucis, suggestions ou remarques, écrivez-nous à : <br>
            contact@bugspointer.com</p>

        </div>

    </div>

    <div class="popup" id="popup" th:if="${company.getDomaine() == null}">
        <form class="form container popup-container" action="#" id="form-confirmation" th:action="@{/newUser/{publicKey}(publicKey=${publicKey})}" th:object="${company}" method="post">
            <label style="margin: 25px auto;">Merci de confirmer que votre nom de domaine est bien :</label>
            <input type="text" th:field="*{domaine}" id="domaine-a-confirmer" value readonly>
            <input type="hidden" th:field="*{publicKey}" th:value="${company.getPublicKey()}">
            <div class="container-row">
                <input class="btn-action" type="button" id="btn-annulation" value="Modifier">
                <input class="btn-action" type="submit" id="btn-confirmation" value="Confirmer">
            </div>
        </form>
    </div>

    <div th:replace="~{include/footer.html}"></div>
</body>
</html>