<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="black">
<div th:replace="~{include/head.html}"></div>
    <title>Mot de Passe oublié</title>
</head>
<body class="index">
    <div th:replace="~{include/notifAlert.html}"></div>
    <div th:replace="~{include/nav.html}"></div>

    <div class="container">
        <section th:if="${etat == null}">
            <div class="cards cards_detail">
                <h3>Mot de passe oublié ?</h3>
                  <form class="form" action="#" th:action="@{/pwLost}" th:object="${company}" method="post">
                        <input type="text" th:field="*{mail}" id="mail" placeholder="Mail">
                        <input type="submit" class="btn-action" value="Mot de passe oublié">
                  </form>
                  <a th:href="@{/authentication}">Se Connecter</a><!--Redirection vers la page de connection-->
            </div>
        </section>
        <section th:if="${etat == 'ok'}">
            <h1>Mail envoyé</h1>
        </section>
    </div>

</body>
</html>