<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="black">
<div th:replace="~{include/head.html}"></div>
    <title>Register Confirm</title>
</head>
<body class="index">
    <div th:replace="~{include/notifAlert.html}"></div>
    <div th:replace="~{include/nav.html}"></div>

    <div class="container">
        <div th:if="${page=='delete'}" class="btn-download welcome">
            <img th:class="${page=='delete'} ? 'auRevoir' : ''" alt="welcome" id="gifElement" th:src="@{/css/img/icones/au-revoir.gif}"/>
        </div>

        <img style="width:60%; margin:0 auto;" th:if="${page=='register'}" th:src="@{/css/img/motion/welcome_motion.gif}" alt="Bienvenue">

        <h1 class="space" th:if="${page == 'register'}">Merci de nous avoir rejoints !</h1>

        <div th:if="${page == 'register'}" class="btn-download">
            <img alt="envoloppe mail" th:src="@{/css/img/icones/e-mail.gif}"/>
            <span th:if="${status=='OK'}" class="center fs20">Un mail vient d'être envoyé. Il contient un lien d'activation
            <br>Pensez aux spams/courriers indésirables</span>
            <span th:if="${status=='ERROR'}" class="center">Une erreur s'est produite lors de l'envoi du mail.
                <br>Cliquez <a>ici</a> pour effectuer un nouvel envoi.
            <br>Si l'erreur persiste contacter : contact@bugspointer.com</span>
        </div>

    </div>

    <div th:replace="~{include/footer.html}"></div>
</body>
</html>