<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" th:href="@{/css/img/icones/BP.ico}" type="image/x-icon">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
    <title>Réinitialiser le mot de passe</title>
</head>
<body class="black">
    <div th:replace="~{include/notifAlert.html}"></div>
    <div th:replace="~{include/nav.html}"></div>

    <div class="container">
        <section>
            <div class="cards cards_detail">
                <h3>Réinitialisation du mot de passe</h3>
                <form class="form" action="#" th:action="@{/resetPassword/{publicKey}(publicKey=${publicKey})}" th:object="${company}" method="post">
                    <input type="password" th:field="*{password}" placeholder="Mot de passe">
                    <input type="password" th:field="*{confirmPassword}" placeholder="Confirmation du mot de passe">
                    <input type="hidden" th:field="*{publicKey}" th:value="${company.getPublicKey()}">
                    <input class="btn-action" type="submit" value="Modifier le mot de passe">
                </form>
            </div>
        </section>
    </div>

</body>
</html>