<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Ajouter le chemin correct pour accéder au fichier modalStyle.css -->
    <link href="/css/modalStyle.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/modalControl.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Votre lien à placer où vous le souhaiter -->
    <a class="bugspointer-open-popup" id="bugspointer_open_popup">Signaler un bug</a>

    <!-- Le bouton à placer où vous le souhaiter -->
    <button class="bugspointer-logo" id="bugspointer_logo">
        <div class="bugspointer-objet-logo">
            <div class="bugspointer-objet-ellispe"></div>
            <span class="bugspointer-objet-report">Signaler un bug</span>
        </div>
    </button>



    <div class="bugspointer-popup" id="bugspointer_popup">
      <form class="bugspointer-popup-container" method="post" action="/api/user/modalControl">
          <div class="bugspointer-popup-header">
              <span class="bugspointer-popup-titre">Signaler un nouveau bug</span>
              <span class="bugspointer-close-popup" id="bugspointer_close_popup">&times;</span>
          </div>
          <div id="bugspointer-message-success"> Merci
              <p>Merci infiniment pour votre envoi <br><br><br>Donnez votre avis et façonnez l'avenir de notre produit</p>
                <a class="btn-action" id="bugspointer-lien-success">Evaluer en 3 questions</a>
          </div>
          <div class="bugspointer-popup-content" id="bugspointer-affichage">
              <label for="bugspointer-urlPointed">Url avec ce bug</label>
              <input type="text" name="url" class="bugspointer-popup-content-texturl" id="bugspointer-urlPointed" value="" readonly>

              <button class="bugspointer-popup-btn-submit" type="button" id="bugspointer-popup-btn-pointer" title="Cliquez-ici avant d'envoyer le formulaire">Pointer le bug</button>
              <p class="bugspointer-popup-pointer-bug-text" id="bugspointer-popup-pointer-bug-text">Merci de sélectionner l'endroit contenant le bug en cliquant sur le bouton ci dessus</p>

              <textarea name="codeLocation" id="bugspointer-popup-pointer-bug" readonly hidden></textarea>

              <label>Description du bug</label>
              <textarea class="bugspointer-popup-content-textdescription" name="description" minlength="10" required></textarea>
              <input type="text" name="bot" class="bugspointer-popup-content-inputbot">

              <input type="hidden" name="os" id="bugspointer-popup-os" readonly>
              <input type="hidden" name="browser" id="bugspointer-popup-browser" readonly>
              <input type="hidden" name="screenSize" id="bugspointer-popup-screen" readonly>
              <input type="hidden" name="key" id="key" readonly>

              <button class="bugspointer-popup-btn-submit" type="submit" id="bugspointer-popup-btn-submit" disabled title="Veuillez cliquer sur le bouton 'Pointer le bug' et remplir la description">Envoyer mon rapport</button>
          </div>
      </form>
  </div>
</body>
</html>