<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/modalStyle.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/modalControl.js" async></script>
</head>
<body>
<a class="bugspointer-open-popup" id="bugspointer_open_popup">Report a bug</a>
<button class="bugspointer-logo" id="bugspointer_logo">
    <div class="bugspointer-objet-logo">
        <div class="bugspointer-objet-ellispe"></div>
        <span class="bugspointer-objet-report">Report a bug</span>
    </div>
</button>
    <div class="bugspointer-popup" id="bugspointer_popup">
      <form class="bugspointer-popup-container" method="post" action="/modalControl">
          <div class="bugspointer-popup-header">
              <span class="bugspointer-popup-titre">REPORT A NEW BUG</span>
              <span class="bugspointer-close-popup" id="bugspointer_close_popup">&times;</span>
          </div>
          <div class="bugspointer-popup-content">
              <label for="urlPointed">URL WITH A BUG</label>
              <input type="text" name="url" class="bugspointer-popup-content-texturl" id="urlPointed" value="" readonly>

              <label>BUG DESCRIPTION</label>
              <textarea class="bugspointer-popup-content-textdescription" name="description" minlength="10"></textarea>
              <input type="text" name="bot" class="bugspointer-popup-content-inputbot">
              <input type="hidden" name="key" value="NMYij1d8zKkHIUdBCvDb1b01L">
              <!--TODO : changer la value par la variable récupérant cette valeur-->

              <button class="bugspointer-popup-btn-submit" type="submit">SEND MY REPORT</button>
          </div>
      </form>
  </div>
</body>
</html>