<!-- Le bouton à placer où vous le souhaiter -->
<button class="bugspointer-logo" id="bugspointer_logo">
    <div class="bugspointer-objet-logo">
        <div class="bugspointer-objet-ellispe"></div>
        <span class="bugspointer-objet-report bugspointer-span-desktop">Signaler un bug</span>
        <span class="bugspointer-objet-report bugspointer-span-mobile">Bug</span>
    </div>
</button>

<!-- Si vous placez un lien sur votre page, vous devez aussi ajouter le fichier modal.html ainsi que modalStyle.css et modalControl.js -->