<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
</head>
    <title>Bugs Pointer</title>
</head>
<body>
<h2>Bienvenue !</h2>
    <div th:replace="~{include/nav.html}"></div>

<button type="button" th:onclick="showAlert()">Show Alert</button>

<div class="sliderIndex">
    <div class="slides">
        <div id="slide-1">
            <img th:src="@{/css/img/sliderIndex/Orthographe.jpg}" alt="Preview of HTML content">
        </div>
        <div id="slide-2">
            <img th:src="@{/css/img/sliderIndex/Indeed - Bugs synthaxe.jpg}" alt="Preview of HTML content">
        </div>
        <div id="slide-3">
            <img th:src="@{/css/img/sliderIndex/CAF - Bug btn connexion.jpg}" alt="Preview of HTML content">
        </div>
    </div>
    <div class="content-dotlink">
        <a href="#slide-1">1</a>
        <a href="#slide-2">2</a>
        <a href="#slide-3">3</a>
    </div>
</div>
</body>
</html>
